name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'src/**'
      - 'pom.xml'
      - 'Containerfile'
      - 'docker-compose.yml'
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.EAGLESSOFT_REPOSITORY_USERNAME }}
          password: ${{ secrets.EAGLESSOFT_REPOSITORY_SECRET }}

      - name: Get short commit SHA
        id: commit
        run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            eaglessoftbv/phive-doc-validator
          flavor: |
            latest=false
          tags: |
            type=raw,value=v1.0-${{ steps.commit.outputs.sha }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' }}
            type=ref,event=pr

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
          file: ./Containerfile
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Push Readme to Docker Hub
        continue-on-error: true
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.EAGLESSOFT_REPOSITORY_USERNAME }}
          password: ${{ secrets.EAGLESSOFT_REPOSITORY_SECRET }}
          repository: eaglessoftbv/phive-doc-validator
          readme-filepath: ./README.md
